<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878350956441-520roooak25eanvtlk26bnuo68l19t56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878350956441-520roooak25eanvtlk26bnuo68l19t56</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>878350956441-nreb184l0h0e1n0v0127crmk1thbe440.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBU6uioeVLhisL3kafQM68w9740fRqeO68</string>
	<key>GCM_SENDER_ID</key>
	<string>878350956441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nguyennb.projectfilm</string>
	<key>PROJECT_ID</key>
	<string>projectmobile-a684b</string>
	<key>STORAGE_BUCKET</key>
	<string>projectmobile-a684b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878350956441:ios:d678e1d187065bea274508</string>
	<key>DATABASE_URL</key>
	<string>https://projectmobile-a684b.firebaseio.com</string>
</dict>
</plist>